<!doctype html>
<html class="h-full">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="./stylesheets/output.css" />
  </head>
  <body class="h-full m-6">
    <h1 class="text-center"><%= title %></h1>
    <main class="flex justify-center">
      <form action="/new" method="post" class="flex flex-col max-w-lg">
        <label for="user">User</label>
        <input
          type="text"
          id="user"
          name="user"
          required
          class="w-lg border border-gray-500 p-2"
        />
        <label for="text">Message </label>
        <textarea
          id="text"
          name="message"
          required
          maxlength="150"
          class="w-lg border border-gray-500 p-2"
        ></textarea>

        <button
          type="submit"
          class="m-6 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          Send
        </button>
      </form>
    </main>
  </body>
</html>
